name: Publish to CurseForge

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      changelog:
        required: true
        type: string

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        
      - name: Build with Gradle
        id: build
        run: ./gradlew build

      - name: Find JAR
        id: find_jar
        run: |
          JAR_PATH=$(ls build/libs/goldendandelionindicator-*.jar | grep -v "sources" | grep -v "dev" | head -n 1)
          echo "jar_path=$JAR_PATH" >> $GITHUB_OUTPUT

      - name: Upload to CurseForge
        uses: itsmeow/curseforge-upload@v3
        with:
          file_path: "${{ steps.find_jar.outputs.jar_path }}"
          game_endpoint: "minecraft"
          relations: "fabric-api:requiredDependency"
          game_versions: "Java 25,Fabric"
          project_id: "${{ vars.CURSEFORGE_PROJECT_ID }}"
          token: "${{ secrets.CF_API_TOKEN }}"
          changelog: "${{ inputs.changelog }}"
          changelog_type: "markdown"
