name: Publish to Modrinth

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
        
      - name: Build with Gradle
        id: build
        run: ./gradlew build

      - name: Upload to Modrinth
        uses: cloudnode-pro/modrinth-publish@v2
        with:
          token: ${{ secrets.MODRINTH_TOKEN }}
          project: ${{ github.env.MODRINTH_PROJECT_ID }}
          version: ${{ github.event.release.tag_name }}
          loaders: |
            fabric
          game-versions: |
            26.1- snapshot-6
          files: build/libs/goldendandelionindicator-${{ github.event.release.tag_name }}.jar
          changelog: ${{ github.event.release.body }}
